fread/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="SyS_read">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="smp_irq_work_interrupt"/>
        <xs:element ref="__fdget_pos"/>
        <xs:element ref="vfs_read"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="smp_irq_work_interrupt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="irq_enter"/>
        <xs:element ref="__wake_up"/>
        <xs:element ref="irq_exit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="irq_enter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rcu_irq_enter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rcu_irq_enter">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="irq_exit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="idle_cpu">
          <xs:sequence>
            <xs:element ref="rcu_irq_exit"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rcu_irq_exit">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__fdget_pos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__fget_light"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__fget_light">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vfs_read">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rw_verify_area"/>
        <xs:element ref="__vfs_read"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rw_verify_area">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="security_file_permission"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="security_file_permission">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="apparmor_file_permission"/>
        <xs:element ref="__fsnotify_parent"/>
        <xs:element ref="fsnotify"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="apparmor_file_permission">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="common_file_perm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="common_file_perm">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="aa_file_perm"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aa_file_perm">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__fsnotify_parent">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fsnotify">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__vfs_read">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="new_sync_read"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="new_sync_read">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ext4_file_read_iter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_file_read_iter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="generic_file_read_iter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic_file_read_iter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
        <xs:element ref="pagecache_get_page"/>
        <xs:element ref="touch_atime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagecache_get_page">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="find_get_entry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="find_get_entry">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="touch_atime">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__atime_needs_update"/>
        <xs:element ref="__sb_start_write"/>
        <xs:element ref="__mnt_want_write"/>
        <xs:element ref="current_time"/>
        <xs:element ref="generic_update_time"/>
        <xs:element ref="__mnt_drop_write"/>
        <xs:element ref="__sb_end_write"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__atime_needs_update">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="current_time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__sb_start_write">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__mnt_want_write">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__mnt_is_readonly.part.13"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__mnt_is_readonly.part.13">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic_update_time">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__mark_inode_dirty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__mark_inode_dirty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ext4_dirty_inode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_dirty_inode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__ext4_journal_start_sb"/>
        <xs:element ref="ext4_mark_inode_dirty"/>
        <xs:element ref="__ext4_journal_stop"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__ext4_journal_start_sb">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ext4_journal_check_start"/>
        <xs:element ref="jbd2__journal_start"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_journal_check_start">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jbd2__journal_start">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="kmem_cache_alloc"/>
        <xs:element ref="start_this_handle"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kmem_cache_alloc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
        <xs:element ref="prefetch_freepointer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="prefetch_freepointer">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="start_this_handle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_raw_read_lock"/>
        <xs:element ref="add_transaction_credits"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_raw_read_lock">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_transaction_credits">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_mark_inode_dirty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
        <xs:element ref="ext4_reserve_inode_write"/>
        <xs:element ref="ext4_mark_iloc_dirty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_reserve_inode_write">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__ext4_get_inode_loc"/>
        <xs:element ref="__ext4_journal_get_write_access"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__ext4_get_inode_loc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ext4_get_group_desc"/>
        <xs:element ref="ext4_inode_table"/>
        <xs:element ref="__getblk_gfp"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_get_group_desc">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_inode_table">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__getblk_gfp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__find_get_block"/>
        <xs:element ref="_cond_resched"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__find_get_block">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mark_page_accessed"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mark_page_accessed">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__ext4_journal_get_write_access">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
        <xs:element ref="jbd2_journal_get_write_access"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jbd2_journal_get_write_access">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jbd2_write_access_granted.part.9"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jbd2_write_access_granted.part.9">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_mark_iloc_dirty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ext4_do_update_inode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ext4_do_update_inode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_raw_spin_lock"/>
        <xs:element ref="from_kuid"/>
        <xs:element ref="from_kgid"/>
        <xs:element ref="from_kprojid"/>
        <xs:element ref="ext4_inode_csum_set"/>
        <xs:element ref="__ext4_handle_dirty_metadata"/>
        <xs:element ref="__brelse"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="from_kuid" type="map_id_up"/>
  <xs:element name="from_kgid" type="map_id_up"/>
  <xs:element name="from_kprojid" type="map_id_up"/>
  <xs:element name="ext4_inode_csum_set">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__ext4_handle_dirty_metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_cond_resched"/>
        <xs:element ref="jbd2_journal_dirty_metadata"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jbd2_journal_dirty_metadata">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__brelse">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__ext4_journal_stop">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jbd2_journal_stop"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jbd2_journal_stop">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__wake_up"/>
        <xs:element ref="kmem_cache_free"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kmem_cache_free">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__mnt_drop_write">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__sb_end_write">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__wake_up">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="__wake_up_common_lock"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__wake_up_common_lock">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_raw_spin_lock_irqsave"/>
        <xs:element ref="__wake_up_common"/>
        <xs:element ref="_raw_spin_unlock_irqrestore"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="__wake_up_common">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="autoremove_wake_function"/>
      </xs:sequence>
      <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="autoremove_wake_function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="default_wake_function"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="default_wake_function">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="try_to_wake_up"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="try_to_wake_up">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="_raw_spin_lock_irqsave"/>
        <xs:element ref="select_task_rq_fair"/>
        <xs:element ref="_raw_spin_lock"/>
        <xs:element ref="update_rq_clock"/>
        <xs:element ref="ttwu_do_activate"/>
        <xs:element ref="ttwu_stat"/>
        <xs:element ref="_raw_spin_unlock_irqrestore"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="select_task_rq_fair">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="select_idle_sibling"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="select_idle_sibling" type="idle_cpu"/>
  <xs:element name="update_rq_clock">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ttwu_do_activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="activate_task"/>
        <xs:element ref="ttwu_do_wakeup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activate_task">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="enqueue_task_fair"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enqueue_task_fair">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="enqueue_entity"/>
        <xs:element ref="__update_load_avg_se.isra.38"/>
        <xs:element ref="update_cfs_group"/>
        <xs:element ref="hrtick_update"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enqueue_entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="update_curr"/>
        <xs:element ref="__update_load_avg_se.isra.38"/>
        <xs:element ref="update_cfs_group"/>
        <xs:element ref="account_entity_enqueue"/>
        <xs:element ref="place_entity"/>
        <xs:element ref="__enqueue_entity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="place_entity">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__enqueue_entity">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hrtick_update">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ttwu_do_wakeup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="check_preempt_curr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_preempt_curr">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="check_preempt_wakeup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="check_preempt_wakeup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="update_curr"/>
        <xs:element ref="wakeup_preempt_entity.isra.69"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wakeup_preempt_entity.isra.69">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ttwu_stat">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="idle_cpu">
    <xs:sequence>
      <xs:element ref="idle_cpu"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="idle_cpu">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="_cond_resched">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="rcu_all_qs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rcu_all_qs">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="current_time">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="current_kernel_time64"/>
        <xs:element ref="timespec_trunc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="current_kernel_time64">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timespec_trunc">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="_raw_spin_lock">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="map_id_up">
    <xs:sequence>
      <xs:element ref="map_id_up"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="map_id_up">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="_raw_spin_lock_irqsave">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_curr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="update_min_vruntime"/>
        <xs:element minOccurs="0" ref="cpuacct_charge"/>
      </xs:sequence>
      <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_min_vruntime">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cpuacct_charge">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__update_load_avg_se.isra.38">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element maxOccurs="unbounded" ref="decay_load"/>
        <xs:element ref="__accumulate_pelt_segments"/>
      </xs:sequence>
      <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="decay_load">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="__accumulate_pelt_segments">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_cfs_group">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="reweight_entity"/>
      </xs:sequence>
      <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="reweight_entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="update_curr"/>
        <xs:element ref="account_entity_dequeue"/>
        <xs:element ref="account_entity_enqueue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="account_entity_dequeue">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="account_entity_enqueue">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="_raw_spin_unlock_irqrestore">
    <xs:complexType>
      <xs:attribute name="time" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
